@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
    padding-top: 2rem;
}
.productBox {
  border: 1px solid;
  border-radius: 5%;
  border-color:aliceblue;
  width:20rem;
  background-color: gray;

  
}


.accordion {
  width: 213px;
  display: block;
  list-style-type: none;
  overflow: hidden;
  height: 10rem;
  font-size: 0;
  
}

.tabs {
  display: inline-block;
  width: 40px;
  height: 10rem;
  overflow: hidden;
  position: relative;
  margin: 0;
  font-size: 16px;
  transition: all 0.4s 0.s ease-in-out;

   &:hover {
    width: 213px;
    .search {
      p {
        &:before {
          margin-right: -100px;
        }

        &:after {
          margin-right: -5px;
        }
      }
    }

    
   
   .paragraph {
    position: relative;
    width: 360px;
    margin-left: 80px;
    padding: 50px 0 0 10px;
    height: 10rem;
    background: black;

    h {
      font-size: 2.5em;
      margin-bottom: 10px;
    } 

    p {
      font-size: 0.88em;
      line-height: 1.5em;
      padding-right: 30px;
    }
   }
  }
}
.search {
  display: block;

  p {
    display: block;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;

    &::before, &::after {
      transition: all 0.4s 0.1s ease-in-out;
      width: 40px;
      height: 10rem;
      position: absolute;
      text-indent: 0;
      display: block;

    }

    
  }
}

.magnifying-glass {
  a {
    &::before, &::after {
      content: '\Magnifying_glass_icon';
     
    }
  }
}
